body
{
  margin: 0;
  background-color: black;
}
.navBar
{
  position: fixed;
  background-color: #14213D;
  width: 4vw;
  height: 100vh;
  right: 0;
  padding: 1vh 1vw;
}
.navBarIcons path
{
  transition-duration:.3s;
}
.navBarIcons
{
  width: 4vw;
  height: 4vw;
}
svg
{
  width: 4vw;
  height: 4vw;
}
#filter
{
  position: absolute;
  top:50%;
  right: 1vw;
  transform: translate(0,-50%);
}
#new
{
  position: absolute;
  top:35%;
  right: 1vw;
  transform: translate(0,-50%);
}
#contact
{
  position: absolute;
  top:65%;
  right: 1vw;
  transform: translate(0,-50%);
}
#arrow
{
  position: absolute;
  right: 1vw;
  transform: translate(0,-50%);
  display: none;
}
